{% load humanize %}

<div class="line"></div>

<ul class="sidebar__post-list list-unstyled" >
    {% for obj in post_obj %}
    <li>
            <div class="sidebar__post-image">
                <img src="{{obj.image.url}}" alt="">
            </div>

            <div class="sidebar__post-content">

                <span class="sidebar__post-content-meta">
                    {{obj.published_date|date:"d-M-Y"}} </span>

                <span class="sidebar__post-content-meta">
                    ({{obj.published_date|naturaltime}}) </span>

                <h5>
                    <a href="{% url 'blog_show:blog_single' pid=obj.id %}">{{obj.title}}</a>
                </h5>

            </div>
     </li>
    {% endfor %}
</ul>

