{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> About || Sycols || Sycols HTML 5 Template </title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
 
    <meta name="description" content="Woodza HTML 5 Template ">

    <!-- fonts -->
    <link href="css2?family=Kumbh+Sans:wght@200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    {% compress css %}
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/animate/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/animate/custom-animate.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jarallax/jarallax.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jquery-magnific-popup/jquery.magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/nouislider/nouislider.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/nouislider/nouislider.pips.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/odometer/odometer.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/swiper/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flaticon/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/tiny-slider/tiny-slider.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/reey-font/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/bxslider/jquery.bxslider.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap-select/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/vegas/vegas.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jquery-ui/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/timepicker/timePicker.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/polyglot-language-switcher/polyglot-language-switcher.css' %}">

    <!-- template styles -->
    <link rel="stylesheet" href="{% static 'css/sycols.css' %}">
    <link rel="stylesheet" href="{% static 'css/sycols-responsive.css' %}">
    {% endcompress %}
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>


    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->

    <div class="page-wrapper">
      

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->


        <!--Start Page Header-->
        <section class="page-header">
            <div class="shape1 float-bob-y"></div>
            <div class="shape2 float-bob-y"><img src="{% static 'images/shapes/page-header-shape1.png' %}" alt=""></div>
            <div class="shape3 float-bob-y"></div>
            <div class="shape4 float-bob-y"></div>
            <div class="shape5 float-bob-y"><img src="{% static 'images/shapes/page-header-shape2.png' %}" alt=""></div>
            <div class="page-header-bg" style="background-image: url({% static 'images/backgrounds/page-header-img.jpg' %})">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><span>//</span></li>
                        <li class="color-base">About us</li>
                    </ul>
                    <h2>About us</h2>
                </div>
            </div>
        </section>
        <!--End Page Header-->


        <!--Start About One-->
        <section class="about-one about-one--about">
            <div class="shape3"><img src="{% static 'images/shapes/about-v1-shape3.png' %}" alt=""></div>
            <div class="shape4"><img src="{% static 'images/shapes/about-v1-shape4.png' %}" alt=""></div>
            <div class="container">
                <div class="row">
                    <!--Start About One Img-->
                    <div class="col-xl-6 wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms">
                        <div class="about-one__img">
                            <div class="border"></div>
                            <div class="about-one__img1">
                                <div class="shape1 float-bob-y">
                                    <img src="{% static 'images/shapes/about-v1-shape1.png' %}" alt="">
                                </div>
                                <div class="line1 float-bob-y"></div>
                                <div class="line2 float-bob-y"></div>
                                <div class="line3 float-bob-y"></div>
                                <img src="{% static 'images/about/about-v1-img1.jpg' %}" alt="">
                            </div>
                            <div class="about-one__img2">
                                <div class="about-one__img2-inner">
                                    <img src="{% static 'images/about/about-v1-img2.png' %}" alt="">
                                </div>
                                <div class="about-one__img-text">
                                    <div class="shape2">
                                        <img src="{% static 'images/shapes/about-v1-shape2.png' %}" alt="">
                                    </div>
                                    <div class="icon">
                                        <span class="icon-valentines-couple"></span>
                                    </div>
                                    <p>Best Couple <br>Counselling</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End About One Img-->

                    <!--Start About One Content-->
                    <div class="col-xl-6">
                        <div class="about-one__content">
                            <div class="section-title">
                                <span class="section-title__tagline">About Comapny</span>
                                <div class="section-title__line"></div>
                                <h2 class="section-title__title">Welcome to Our <br> Physical therapy <br> Services</h2>
                            </div>

                            <div class="about-one__content-text1">
                                <p>Over 20 Years’ Experience Providing Top Quality therapy
                                    Across world orem ipsum therapy services</p>
                            </div>

                            <div class="about-one__content-text2">
                                <div class="about-one__content-text2-img">
                                    <div class="about-one__content-text2-img1">
                                        <img src="{% static 'images/about/about-v1-img3.png' %}" alt="">
                                    </div>
                                    <div class="about-one__content-text2-img2">
                                        <img src="{% static 'images/about/about-v1-img4.png' %}" alt="">
                                    </div>
                                </div>
                                <ul class="about-one__content-text2-list list-unstyled">
                                    <li>
                                        <p><span class="icon-check"></span>Medical Health During Pandemic </p>
                                    </li>

                                    <li>
                                        <p><span class="icon-check"></span>Finish work before Deadline</p>
                                    </li>

                                    <li>
                                        <p><span class="icon-check"></span>The world's largest therapy</p>
                                    </li>
                                </ul>
                            </div>

                            <div class="about-one__content-bottom">
                                <div class="about-one__content-bottom-left">
                                    <p>Lorem ipsum dolor sit amet conse ctetur porro quisquam est, qui dolorem ipsum
                                        quia dolor sit amet sed sagittis augue</p>
                                </div>

                                <div class="about-one__content-bottom-right">
                                    <p class="text1">Wiliam Robin</p>
                                    <p class="text2">Co-founder</p>
                                    <div class="img-box">
                                        <img src="{% static 'images/resources/about-v1-signature.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End About One Content-->
                </div>
            </div>
        </section>
        <!--End About One-->


        <!--Start Testimonial One-->
        <section class="testimonial-one testimonial-one--two testimonial-one--two--about">
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">Testimonial</span>
                    <div class="section-title__line center"></div>
                    <h2 class="section-title__title">What Does the Customer <br> Have to Say?
                    </h2>
                </div>
                <div class="row">
                    <!--Start Testimonial One Two Inner-->
                    <div class="col-xl-12">
                        <div class="testimonial-one--two__inner">
                            <div class="testimonial-one--two__carousel owl-carousel owl-theme thm-owl__carousel" data-owl-options='{
                                        "loop": true,
                                        "autoplay": true,
                                        "margin": 30,
                                        "nav": false,
                                        "dots": true,
                                        "smartSpeed": 500,
                                        "autoplayTimeout": 10000,
                                        "navText": ["<span class=\"icon-right-arrow-2\"></span>","<span class=\"icon-right-arrow-2\"></span>"],
                                        "responsive": {
                                            "0": {
                                                "items": 1
                                            },
                                            "768": {
                                                "items": 2
                                            },
                                            "992": {
                                                "items": 2
                                            },
                                            "1200": {
                                                "items": 3
                                            }
                                        }
                                    }'>
                                <!--Start Testimonial One Single-->
                                <div class="testimonial-one__single">
                                    <p class="testimonial-one__text-2">Lorem Ipsum available, but the majority have
                                        suffered dimply free text Suspe ndisse suscipit sagittis dolore magna aliqua
                                        ipsum quia</p>
                                    <div class="testimonial-one__client-info">
                                        <div class="testimonial-one__client-details">
                                            <div class="testimonial-one__client-img">
                                                <img src="{% static 'images/testimonial/testimonial-one-client-img-3.png' %}" alt="">
                                            </div>
                                            <div class="testimonial-one__client-content">
                                                <h4>Robert Anton</h4>
                                                <p>Therapy Specialist</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-one__quote">
                                            <span class="icon-quote"></span>
                                        </div>
                                    </div>
                                </div>
                                <!--End Testimonial One Single-->

                                <!--Start Testimonial One Single-->
                                <div class="testimonial-one__single">
                                    <p class="testimonial-one__text-2">Lorem Ipsum available, but the majority have
                                        suffered dimply free text Suspe ndisse suscipit sagittis dolore magna aliqua
                                        ipsum quia</p>
                                    <div class="testimonial-one__client-info">
                                        <div class="testimonial-one__client-details">
                                            <div class="testimonial-one__client-img">
                                                <img src="{% static 'images/testimonial/testimonial-one-client-img-1.png' %}" alt="">
                                            </div>
                                            <div class="testimonial-one__client-content">
                                                <h4>Alexa Ronobs</h4>
                                                <p>Therapy Specialist</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-one__quote">
                                            <span class="icon-quote"></span>
                                        </div>
                                    </div>
                                </div>
                                <!--End Testimonial One Single-->

                                <!--Start Testimonial One Single-->
                                <div class="testimonial-one__single">
                                    <p class="testimonial-one__text-2">Lorem Ipsum available, but the majority have
                                        suffered dimply free text Suspe ndisse suscipit sagittis dolore magna aliqua
                                        ipsum quia</p>
                                    <div class="testimonial-one__client-info">
                                        <div class="testimonial-one__client-details">
                                            <div class="testimonial-one__client-img">
                                                <img src="{% static 'images/testimonial/testimonial-one-client-img-4.png' %}" alt="">
                                            </div>
                                            <div class="testimonial-one__client-content">
                                                <h4>John Wiliam</h4>
                                                <p>Therapy Specialist</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-one__quote">
                                            <span class="icon-quote"></span>
                                        </div>
                                    </div>
                                </div>
                                <!--End Testimonial One Single-->

                                <!--Start Testimonial One Single-->
                                <div class="testimonial-one__single">
                                    <p class="testimonial-one__text-2">Lorem Ipsum available, but the majority have
                                        suffered dimply free text Suspe ndisse suscipit sagittis dolore magna aliqua
                                        ipsum quia</p>
                                    <div class="testimonial-one__client-info">
                                        <div class="testimonial-one__client-details">
                                            <div class="testimonial-one__client-img">
                                                <img src="{% static 'images/testimonial/testimonial-one-client-img-3.png' %}" alt="">
                                            </div>
                                            <div class="testimonial-one__client-content">
                                                <h4>Robert Anton</h4>
                                                <p>Therapy Specialist</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-one__quote">
                                            <span class="icon-quote"></span>
                                        </div>
                                    </div>
                                </div>
                                <!--End Testimonial One Single-->

                                <!--Start Testimonial One Single-->
                                <div class="testimonial-one__single">
                                    <p class="testimonial-one__text-2">Lorem Ipsum available, but the majority have
                                        suffered dimply free text Suspe ndisse suscipit sagittis dolore magna aliqua
                                        ipsum quia</p>
                                    <div class="testimonial-one__client-info">
                                        <div class="testimonial-one__client-details">
                                            <div class="testimonial-one__client-img">
                                                <img src="{% static 'images/testimonial/testimonial-one-client-img-1.png' %}" alt="">
                                            </div>
                                            <div class="testimonial-one__client-content">
                                                <h4>Alexa Ronobs</h4>
                                                <p>Therapy Specialist</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-one__quote">
                                            <span class="icon-quote"></span>
                                        </div>
                                    </div>
                                </div>
                                <!--End Testimonial One Single-->

                                <!--Start Testimonial One Single-->
                                <div class="testimonial-one__single">
                                    <p class="testimonial-one__text-2">Lorem Ipsum available, but the majority have
                                        suffered dimply free text Suspe ndisse suscipit sagittis dolore magna aliqua
                                        ipsum quia</p>
                                    <div class="testimonial-one__client-info">
                                        <div class="testimonial-one__client-details">
                                            <div class="testimonial-one__client-img">
                                                <img src="{% static 'images/testimonial/testimonial-one-client-img-4.png' %}" alt="">
                                            </div>
                                            <div class="testimonial-one__client-content">
                                                <h4>John Wiliam</h4>
                                                <p>Therapy Specialist</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-one__quote">
                                            <span class="icon-quote"></span>
                                        </div>
                                    </div>
                                </div>
                                <!--End Testimonial One Single-->

                                <!--Start Testimonial One Single-->
                                <div class="testimonial-one__single">
                                    <p class="testimonial-one__text-2">Lorem Ipsum available, but the majority have
                                        suffered dimply free text Suspe ndisse suscipit sagittis dolore magna aliqua
                                        ipsum quia</p>
                                    <div class="testimonial-one__client-info">
                                        <div class="testimonial-one__client-details">
                                            <div class="testimonial-one__client-img">
                                                <img src="{% static 'images/testimonial/testimonial-one-client-img-3.png' %}" alt="">
                                            </div>
                                            <div class="testimonial-one__client-content">
                                                <h4>Robert Anton</h4>
                                                <p>Therapy Specialist</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-one__quote">
                                            <span class="icon-quote"></span>
                                        </div>
                                    </div>
                                </div>
                                <!--End Testimonial One Single-->

                                <!--Start Testimonial One Single-->
                                <div class="testimonial-one__single">
                                    <p class="testimonial-one__text-2">Lorem Ipsum available, but the majority have
                                        suffered dimply free text Suspe ndisse suscipit sagittis dolore magna aliqua
                                        ipsum quia</p>
                                    <div class="testimonial-one__client-info">
                                        <div class="testimonial-one__client-details">
                                            <div class="testimonial-one__client-img">
                                                <img src="{% static 'images/testimonial/testimonial-one-client-img-1.png' %}" alt="">
                                            </div>
                                            <div class="testimonial-one__client-content">
                                                <h4>Alexa Ronobs</h4>
                                                <p>Therapy Specialist</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-one__quote">
                                            <span class="icon-quote"></span>
                                        </div>
                                    </div>
                                </div>
                                <!--End Testimonial One Single-->

                                <!--Start Testimonial One Single-->
                                <div class="testimonial-one__single">
                                    <p class="testimonial-one__text-2">Lorem Ipsum available, but the majority have
                                        suffered dimply free text Suspe ndisse suscipit sagittis dolore magna aliqua
                                        ipsum quia</p>
                                    <div class="testimonial-one__client-info">
                                        <div class="testimonial-one__client-details">
                                            <div class="testimonial-one__client-img">
                                                <img src="{% static 'images/testimonial/testimonial-one-client-img-4.png' %}" alt="">
                                            </div>
                                            <div class="testimonial-one__client-content">
                                                <h4>John Wiliam</h4>
                                                <p>Therapy Specialist</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-one__quote">
                                            <span class="icon-quote"></span>
                                        </div>
                                    </div>
                                </div>
                                <!--End Testimonial One Single-->

                                <!--Start Testimonial One Single-->
                                <div class="testimonial-one__single">
                                    <p class="testimonial-one__text-2">Lorem Ipsum available, but the majority have
                                        suffered dimply free text Suspe ndisse suscipit sagittis dolore magna aliqua
                                        ipsum quia</p>
                                    <div class="testimonial-one__client-info">
                                        <div class="testimonial-one__client-details">
                                            <div class="testimonial-one__client-img">
                                                <img src="{% static 'images/testimonial/testimonial-one-client-img-3.png' %}" alt="">
                                            </div>
                                            <div class="testimonial-one__client-content">
                                                <h4>Robert Anton</h4>
                                                <p>Therapy Specialist</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-one__quote">
                                            <span class="icon-quote"></span>
                                        </div>
                                    </div>
                                </div>
                                <!--End Testimonial One Single-->

                                <!--Start Testimonial One Single-->
                                <div class="testimonial-one__single">
                                    <p class="testimonial-one__text-2">Lorem Ipsum available, but the majority have
                                        suffered dimply free text Suspe ndisse suscipit sagittis dolore magna aliqua
                                        ipsum quia</p>
                                    <div class="testimonial-one__client-info">
                                        <div class="testimonial-one__client-details">
                                            <div class="testimonial-one__client-img">
                                                <img src="{% static 'images/testimonial/testimonial-one-client-img-1.png' %}" alt="">
                                            </div>
                                            <div class="testimonial-one__client-content">
                                                <h4>Alexa Ronobs</h4>
                                                <p>Therapy Specialist</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-one__quote">
                                            <span class="icon-quote"></span>
                                        </div>
                                    </div>
                                </div>
                                <!--End Testimonial One Single-->

                                <!--Start Testimonial One Single-->
                                <div class="testimonial-one__single">
                                    <p class="testimonial-one__text-2">Lorem Ipsum available, but the majority have
                                        suffered dimply free text Suspe ndisse suscipit sagittis dolore magna aliqua
                                        ipsum quia</p>
                                    <div class="testimonial-one__client-info">
                                        <div class="testimonial-one__client-details">
                                            <div class="testimonial-one__client-img">
                                                <img src="{% static 'images/testimonial/testimonial-one-client-img-4.png' %}" alt="">
                                            </div>
                                            <div class="testimonial-one__client-content">
                                                <h4>John Wiliam</h4>
                                                <p>Therapy Specialist</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-one__quote">
                                            <span class="icon-quote"></span>
                                        </div>
                                    </div>
                                </div>
                                <!--End Testimonial One Single-->
                            </div>
                        </div>
                    </div>
                    <!--End Testimonial One Two Inner-->
                </div>
            </div>
        </section>
        <!--End Testimonial One-->

        <!--Start Team One -->
        <section class="team-one team-one--about">
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">Our Team</span>
                    <div class="section-title__line center"></div>
                    <h2 class="section-title__title">Meet our specialist <br> Doctors!
                    </h2>
                </div>
                <div class="row">
                    <!--Start Team One Single-->
                    <div class="col-xl-4 col-lg-4 wow animated fadeInUp" data-wow-delay="0.1s">
                        <div class="team-one__single">
                            <div class="team-one__single-img">
                                <img src="{% static 'images/team/team-1-1.jpg' %}" alt="">
                            </div>

                            <div class="team-one__single-content">
                                <div class="social-link">
                                    <ul class="list-unstyled">
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                    </ul>
                                </div>
                                <span>Family Psychology</span>
                                <h2><a href="#">Dr. Wialm Tomer</a></h2>
                                <p>A beautifulcollection of clean <br> modern flexible Services</p>
                            </div>
                        </div>
                    </div>
                    <!--End Team One Single-->

                    <!--Start Team One Single-->
                    <div class="col-xl-4 col-lg-4 wow animated fadeInUp" data-wow-delay="0.3s">
                        <div class="team-one__single">
                            <div class="team-one__single-img">
                                <img src="{% static 'images/team/team-1-2.jpg' %}" alt="">
                            </div>

                            <div class="team-one__single-content">
                                <div class="social-link">
                                    <ul class="list-unstyled">
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                    </ul>
                                </div>
                                <span>Family Psychology</span>
                                <h2><a href="#">Dr. Robin Lan</a></h2>
                                <p>A beautifulcollection of clean <br> modern flexible Services</p>
                            </div>
                        </div>
                    </div>
                    <!--End Team One Single-->

                    <!--Start Team One Single-->
                    <div class="col-xl-4 col-lg-4 wow animated fadeInUp" data-wow-delay="0.5s">
                        <div class="team-one__single">
                            <div class="team-one__single-img">
                                <img src="{% static 'images/team/team-1-3.jpg' %}" alt="">
                            </div>

                            <div class="team-one__single-content">
                                <div class="social-link">
                                    <ul class="list-unstyled">
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                    </ul>
                                </div>
                                <span>Family Psychology</span>
                                <h2><a href="#">Dr. Tony Tabaicho</a></h2>
                                <p>A beautifulcollection of clean <br> modern flexible Services</p>
                            </div>
                        </div>
                    </div>
                    <!--End Team One Single-->
                </div>
            </div>
        </section>
        <!--End Team One -->




    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image"><img src="{% static 'images/resources/footer-logo.png' %}" width="143" alt=""></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@sycols.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here...">
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-search"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

    {% compress js %}
    <script src="{% static 'vendors/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendors/jarallax/jarallax.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-appear/jquery.appear.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-circle-progress/jquery.circle-progress.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-validate/jquery.validate.min.js' %}"></script>
    <script src="{% static 'vendors/nouislider/nouislider.min.js' %}"></script>
    <script src="{% static 'vendors/odometer/odometer.min.js' %}"></script>
    <script src="{% static 'vendors/swiper/swiper.min.js' %}"></script>
    <script src="{% static 'vendors/tiny-slider/tiny-slider.min.js' %}"></script>
    <script src="{% static 'vendors/wnumb/wNumb.min.js' %}"></script>
    <script src="{% static 'vendors/wow/wow.js' %}"></script>
    <script src="{% static 'vendors/isotope/isotope.js' %}"></script>
    <script src="{% static 'vendors/countdown/countdown.min.js' %}"></script>
    <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'vendors/bxslider/jquery.bxslider.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'vendors/vegas/vegas.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'vendors/timepicker/timePicker.js' %}"></script>
    <script src="{% static 'vendors/circleType/jquery.circleType.js' %}"></script>
    <script src="{% static 'vendors/circleType/jquery.lettering.min.js' %}"></script>
    <script src="{% static 'vendors/polyglot-language-switcher/jquery.polyglot.language.switcher.js' %}"></script>




    <!-- template js -->
    <script src="{% static 'js/script.js' %}"></script>
    {% endcompress %}
</body>

</html>
{% endblock %}