{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load blog_tags %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home One || Sycols || Sycols HTML 5 Template </title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest">
    <meta name="description" content="Woodza HTML 5 Template ">

    <!-- fonts -->
    <link href="css2?family=Kumbh+Sans:wght@200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    {% compress css %}
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/animate/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/animate/custom-animate.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jarallax/jarallax.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jquery-magnific-popup/jquery.magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/nouislider/nouislider.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/nouislider/nouislider.pips.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/odometer/odometer.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/swiper/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flaticon/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/tiny-slider/tiny-slider.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/reey-font/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/bxslider/jquery.bxslider.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap-select/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/vegas/vegas.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jquery-ui/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/timepicker/timePicker.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/polyglot-language-switcher/polyglot-language-switcher.css' %}">

    <!-- template styles -->
    <link rel="stylesheet" href="{% static 'css/sycols.css' %}">
    <link rel="stylesheet" href="{% static 'css/sycols-responsive.css' %}">
    {% endcompress %}
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>


    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->

    <div class="page-wrapper">


        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->

        <!--Start Main Slider-->
        <section class="main-slider clearfix">
            <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
                "effect": "fade",
                "pagination": {
                "el": "#main-slider-pagination",
                "type": "bullets",
                "clickable": true
                },
                "navigation": {
                "nextEl": "#main-slider__swiper-button-next",
                "prevEl": "#main-slider__swiper-button-prev"
                },
                "autoplay": {
                "delay": 5000
                }}'>
                <div class="swiper-wrapper">

                    <!--Start Swiper Slide-->
                    <div class="swiper-slide">
                        <div class="shape1"></div>
                        <div class="shape2"></div>
                        <div class="image-layer" style="background-image: url({% static 'images/backgrounds/main-slider-img1.jpg' %});"></div>
                        <!-- /.image-layer -->

                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="main-slider__content">
                                        <h2 class="main-slider__title">Improve <br> Your Mental <br> Health </h2>
                                        <p class="main-slider__text">How do we turn difficult mental or emotional
                                            experiences into <br>opportunities for personal growth and reflection?</p>
                                        <div class="main-slider__btn-box">
                                            <a href="#" class="thm-btn">Our Counseling</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Swiper Slide-->

                    <!--Start Swiper Slide-->
                    <div class="swiper-slide">
                        <div class="shape1"></div>
                        <div class="shape2"></div>
                        <div class="image-layer" style="background-image: url({% static 'images/backgrounds/main-slider-img2.jpg' %});"></div>
                        <!-- /.image-layer -->

                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="main-slider__content">
                                        <h2 class="main-slider__title">Improve <br> Your Mental <br> Health </h2>
                                        <p class="main-slider__text">How do we turn difficult mental or emotional
                                            experiences into <br>opportunities for personal growth and reflection?</p>
                                        <div class="main-slider__btn-box">
                                            <a href="#" class="thm-btn">Our Counseling</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Swiper Slide-->

                    <!--Start Swiper Slide-->
                    <div class="swiper-slide">
                        <div class="shape1"></div>
                        <div class="shape2"></div>
                        <div class="image-layer" style="background-image: url({% static 'images/backgrounds/main-slider-img3.jpg' %});"></div>
                        <!-- /.image-layer -->

                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="main-slider__content">
                                        <h2 class="main-slider__title">Improve <br> Your Mental <br> Health </h2>
                                        <p class="main-slider__text">How do we turn difficult mental or emotional
                                            experiences into <br>opportunities for personal growth and reflection?</p>
                                        <div class="main-slider__btn-box">
                                            <a href="#" class="thm-btn">Our Counseling</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Swiper Slide-->
                </div>

                <!-- If we need navigation buttons -->
                <div class="main-slider__nav">
                    <div class="swiper-button-prev" id="main-slider__swiper-button-next">
                        <i class="icon-right-arrow-1"></i>
                    </div>
                    <div class="swiper-button-next" id="main-slider__swiper-button-prev">
                        <i class="icon-right-arrow-1"></i>
                    </div>
                </div>

            </div>
        </section>
        <!--End Main Slider-->

        {% latest_posts %}

    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="{% url 'index' %}" aria-label="logo image"><img src="{% static 'images/resources/footer-logo.png' %}" width="143" alt=""></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@sycols.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here...">
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-search"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

    {% compress js %}
    <script src="{% static 'vendors/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendors/jarallax/jarallax.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-appear/jquery.appear.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-circle-progress/jquery.circle-progress.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-validate/jquery.validate.min.js' %}"></script>
    <script src="{% static 'vendors/nouislider/nouislider.min.js' %}"></script>
    <script src="{% static 'vendors/odometer/odometer.min.js' %}"></script>
    <script src="{% static 'vendors/swiper/swiper.min.js' %}"></script>
    <script src="{% static 'vendors/tiny-slider/tiny-slider.min.js' %}"></script>
    <script src="{% static 'vendors/wnumb/wNumb.min.js' %}"></script>
    <script src="{% static 'vendors/wow/wow.js' %}"></script>
    <script src="{% static 'vendors/isotope/isotope.js' %}"></script>
    <script src="{% static 'vendors/countdown/countdown.min.js' %}"></script>
    <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'vendors/bxslider/jquery.bxslider.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'vendors/vegas/vegas.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'vendors/timepicker/timePicker.js' %}"></script>
    <script src="{% static 'vendors/circleType/jquery.circleType.js' %}"></script>
    <script src="{% static 'vendors/circleType/jquery.lettering.min.js' %}"></script>
    <script src="{% static 'vendors/polyglot-language-switcher/jquery.polyglot.language.switcher.js' %}"></script>

    <!-- template js -->
    <script src="{% static 'js/script.js' %}"></script>
    {% endcompress %}

</body>

</html>
{% endblock %}