
<!--Start Blog One-->
<section class="blog-one">
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">Blog Update</span>
            <div class="section-title__line center"></div>
            <h2 class="section-title__title">Check Latest Blog Post <br> from Blog List</h2>
        </div>
        <div class="row">
            <!--Start Blog One Single-->
            <div class="col-xl-4 col-lg-4 wow fadeInLeft" data-wow-delay="0ms">
                <div class="blog-one__single">
                    <div class="blog-one__single-img">
                        <div class="blog-one__single-img-inner">
                            <img src="{% static 'images/blog/blog-v1-img1.jpg' %}" alt="">
                        </div>
                        <div class="blog-one__single-img-text">
                            <span>Counselor</span>
                        </div>
                    </div>

                    <div class="blog-one__single-content">
                        <h2><a href="blog-single.html">How Long Does It Take to <br> Become a Counselor?</a>
                        </h2>
                        <div class="blog-one__single-content-meta-box">
                            <ul class="list-unstyled">
                                <li>
                                    <div class="inner">
                                        <div class="icon">
                                            <span class="icon-user"></span>
                                        </div>
                                        <div class="text">
                                            <a href="#">By Admin</a>
                                        </div>

                                    </div>
                                </li>

                                <li>
                                    <div class="inner">
                                        <div class="icon">
                                            <span class=" icon-clock-1"></span>
                                        </div>
                                        <div class="text">
                                            <a href="#">25 August,2022</a>
                                        </div>

                                    </div>
                                </li>

                                <li>
                                    <div class="btn-box">
                                        <a href="blog-single.html"><span class="icon-right-arrow-2"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Blog One Single-->

        </div>
    </div>
</section>
<!--End Blog One-->

